@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root {
  --bs-font-sans-serif: "Montserrat";
  --bs-primary-rgb: 255, 123, 71;
  --bs-secondary-rgb: 13, 92, 99;
  --bs-dark-rgb: 37, 43, 66;
  --bs-success-rgb: 23, 33, 60;
  --bs-light-rgb: 255, 255, 255;
}