.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.text-secondary {
  color: #737373;
}

.container {
  max-width: 1090px;
}
@media (max-width: 575px) {
  .container {
    max-width: 340px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (max-width: 420px) {
  .header {
    background-color: #f6f6f6;
  }
}

.nav__list {
  align-items: center;
}
.nav__item a {
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}
@media (max-width: 420px) {
  .nav__item a {
    font-size: 30px;
    line-height: 45px;
  }
}
@media (max-width: 420px) {
  .nav__icons > *:not(:last-child) {
    margin-right: 28px;
  }
}