// === variables ===
$second-text-color: #737373;
// === / variables ===
// === global ===
.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.text-secondary {
    color: #737373;
}

.container {
    max-width: 1090px;

    @media (max-width: 575px) {
        max-width: 340px;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
// === / global ===
// === header ===
.header {
    @media (max-width: 420px) {
        background-color: #f6f6f6;
    }
}

.nav {
    &__list {
        align-items: center;
    }

    &__item a {
        font-size: 14px;
        line-height: 24px;
        color: $second-text-color;

        @media (max-width: 420px) {
            font-size: 30px;
            line-height: 45px;
        }
    }

    &__icons {
        & > *:not(:last-child) {
            @media (max-width: 420px) {
                margin-right: 28px;
            }
        }
    }
}
// === / header ===