// === imports ===
@import "custom";
// === / imports ===
// === global ===
.w-md-100 {
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.text-three {
    color: #737373;
}

.button {
    padding-top: 10px;
    padding-bottom: 10px;

    &__circle {
        border-radius: 37px;
    }
}

.container {
    max-width: 1090px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 56px;
    line-height: 80px;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    margin-bottom: 10px;
}

.subtitle {
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    max-width: 510px;
    color: #737373;
}
// === / global ===
// === header ===
.header {
    background-color: #f6f6f6;

    &__background {
        background-image: url("../imports/img/Header/background.svg");
        background-size: cover;
    }

    &__title {
        max-width: 395px;
        word-wrap: break-word;

        @include media-breakpoint-down(sm) {
            font-size: 40px;
            max-width: 270px;
        }
    }

    &__subtitle {
        line-height: 30px;
        font-size: 20px;
        max-width: 375px;
        margin: 35px 0;

        @include media-breakpoint-down(md) {
            margin: 40px 0;
        }
    }

    &__content {
        @include media-breakpoint-down(md) {
            padding-top: 80px;
        }

        &-cards {
            margin: 48px 0 -130px;
            
            @include media-breakpoint-down(md) {
                margin: 80px 0;
            }
        }
        
        &-card {
            max-width: 328px;
            height: 242px;
            padding: 35px 40px;
            box-shadow: 0 13px 19px rgba(0, 0, 0, .07);

            &:not(:last-child) {
                margin-right: 30px;

                @include media-breakpoint-down(md) {
                    margin-right: 0;
                    margin-bottom: 30px;
                }
            }

            &-title {
                margin: 10px 0;
            }
        }
    }

    &__buttons {

        & > button {
            padding-left: 35px;
            padding-right: 35px;
            font-size: 14px;
            line-height: 28px;
        }
    }
}

.nav {
    &__list {
        align-items: center;
    }

    &__item a {
        font-size: 14px;
        line-height: 24px;

        @include media-breakpoint-down(md) {
            font-size: 30px;
            line-height: 45px;
        }
    }

    &__icons {
        & > *:not(:last-child) {
            @include media-breakpoint-down(xs) {
                margin-right: 28px;
            }
        }
    }
}
// === / header ===
// === designing ===
.designing {
    margin: 0px 0 0;
    padding: 210px 0 80px;
    background-color: #fafafa;
    
    @include media-breakpoint-down(md) {
        padding: 100px 0 60px;
    }

    &__cards {
        @media (max-width: 476px) {
            justify-content: center !important;
        }
    }

    &__subtitle {
        line-height: 24px;
        margin-bottom: 50px;
    
        @include media-breakpoint-down(md) {
            margin-bottom: 75px;
        }
    }

    &__card {
        background-color: #fff;
        max-width: 230px;
        height: 210px;

        @media (max-width: 936px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}

// === / designing ===
// === practice ===
.practice {
    background: #fafafa;
    padding: 125px 0 80px;

    @include media-breakpoint-down(md) {
        padding: 100px 0;
    }

    .subtitle {
        margin-bottom: 45px;

        @include media-breakpoint-down(md) {
            margin-bottom: 75px;
        }
    }

    &__cards {
        @media (max-width: 503px) {
            justify-content: center !important;
        }
    }

    &__card {
        max-width: 232px;
        background: #fff;

        @media (max-width: 963px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        &-title {
            max-width: 135px;
            margin: 30px 0 15px;
            line-height: 24px;
            text-align: left;
        }

        &-subtitle {
            margin-bottom: 30px;
            line-height: 20px;
            max-width: 160px;
            text-align: left;
        }
    }
}
// === / practice ===
// === we ===
.we {
    .container {
        padding: 100px 0;

        @include media-breakpoint-down(925px) {
            padding-bottom: 214px;
        }
    }

    &__text {
        margin-bottom: 100px;
    }

    &__title {
        margin-bottom: 15px;
    }
    
    &__content {
        &-video {
            position: relative;
            background: url("../imports/img/We/video.png");
            background-position: center center;
            width: clamp(333px, 41vw, 597px);
            height: 442px;

            @include media-breakpoint-down(925px) {
                margin-bottom: 72px;
            }
            
            &::before {
                content: "";
                cursor: pointer;
                position: absolute;
                display: block;
                width: 98px;
                height: 98px;
                background: #0D5C63;
                border-radius: 50%;
            }
            
            &::after {
                content: "";
                cursor: pointer;
                position: absolute;
                width: 0;
                height: 0;
                border: 14px solid transparent;
                border-left: 24px solid transparent;
                border-right: 0;
                border-left-color: #fff;
                z-index: 2;
            }
        }
        
        &-description {
            &-text {
                margin-bottom: 50px;

                &-subtitle {
                    max-width: 330px;
                }
            }

            &-description {
                
                &-item {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }

                    img {
                        margin-right: 20px;
                    }

                    &-text {
                        p {
                            max-width: 277px;
                        }

                        &-title {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(925px) {
            justify-content: center !important;
        }
    }
}
// === / we ===
// === clients ===
.clients {
    background-color: #fafafa;

    .container {
        padding: 50px 25px 70px;

        a:not(:last-child) {
            @include media-breakpoint-down(640px) {
                margin-bottom: 60px;
            }
        }
    }
}
// === / clients ===
// === subscribe ===
.subscribe {
    position: relative;
    background: #fafafa;

    &__text {
        color: #fff;
        font-size: 24px;
        line-height: 32px;
        max-width: 266px;
        margin-bottom: 0;

        @media (min-width: 767px) and (max-width: 958px) {
            margin-bottom: 30px;
        }
        
        @media (max-width: 668px) {
            margin-bottom: 30px;
        }
    }

    .container {
        position: relative;
        width: 68vw;
        padding: 30px 50px 30px 40px;
        border-radius: 2px;
        z-index: 2;
        background-color: #17213C;

        @media (min-width: 767px) and (max-width: 958px) {
            justify-content: center !important;
        }
    
        @media (max-width: 668px) {
            justify-content: center !important;
        }

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    &-form {
        &__email {
            height: 58px;
            border: 1px solid #e6e6e6;
            border-radius: 5px 0 0 5px;
            
            @media (max-width: 391.5px) {
                margin-bottom: 20px;
                border-radius: 5px;
            }
            
            &::placeholder {
                padding: 15px 20px;
                color: #737373;
                font-size: 14px;
            }
        }
        
        &__submit {
            height: 58px;
            background-color: rgb(var(--bs-primary-rgb));
            color: #fff;
            border-color: #e6e6e6;
            border-radius: 0 5px 5px 0;
            font-size: 14px;

            @media (max-width: 391.5px) {
                border-radius: 5px;
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        height: 77px;
        width: 100%;
        display: block;
        margin-bottom: -20px;
        background: #252B42;
        z-index: 0;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}
// === / subscribe ===
// === contacts ===
.contacts {
    background: #f3f3f3;
    padding-top: 100px;

    @include media-breakpoint-down(md) {
        padding-top: 95px;
    }

    &__content {
        &-card {
            cursor: pointer;
            transition: .5s;
            background: #fff;
            padding: 50px 52px;

            @media (max-width: 999px) {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            &:hover {
                background: #252B42;
                transform: scaleY(1.18);

                & > * {
                    transform: scaleY(0.84);
                }

                p {
                    color: #fff;
                }
            }

            &-button {
                border-radius: 5px;
                border: 1px solid rgb(var(--bs-primary-rgb));
                color: rgb(var(--bs-primary-rgb));
                background-color: transparent;

                &:hover {
                    border-color: #fff;
                    color: #fff;
                }
            }

            p {
                color: #000;
                font-size: 14px;
            }

            & > *:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        &-cards {
            margin: 110px 0 180px;

            @include media-breakpoint-down(999px) {
                justify-content: space-evenly !important;
            }

            @include media-breakpoint-down(md) {
                margin: 60px 0 130px;
            }
        }
    }
}
// === / contacts ===
// === consulting ===
.consulting {
    padding: 40px 0;

    &__text {
        @media (max-width: 672px) {
            margin-bottom: 50px;
        }
    }

    &__title {
        font-size: 24px;
    }

    &__button {
        padding: 15px 40px;
        font-size: 14px;
        border: none;
        background: rgb(var(--bs-primary-rgb));
        color: #fff;
    }
}
// === / consulting ===
// === footer ===
.footer {
    padding: 50px 0;
    background: #17213C;
    color: #fff;
    
    .container > * {
        flex-grow: 1;

        &:not(:last-child) {
            margin-right: clamp(1px, 5vw, 80px);
        }
    }

    &__navigation {
        @media (max-width: 907px) {
            margin-bottom: 30px;
        }    

        &-item {
            & + & {
                margin-top: 10px;
            }

            a {
                color: #fff;
            }

            &-head {
                @extend .bold;
                line-height: 24px;
                margin-bottom: 20px;
            }

            img {
                margin-right: 10px;
            }
        }
    }

    .container {
        & > .footer__navigation {
            margin-bottom: 0;
        }
    }
}
// === / footer ===
// === ps ===
.ps {
    padding: 25px 0;

    &__text {
        @extend .semi-bold;
        font-size: 14px;
        color: #737373;

        @media (max-width: 554.5px) {
            margin-bottom: 50px;
        }
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 55px;
    }
}

.socials {
    img:not(:last-child) {
        cursor: pointer;
        margin-right: 20px;
    }
}
// === / ps ===